# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.GGJ_2021.c.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Game jams\Global Game Jam 2021\GGJ_2021.c\.idea\.idea.GGJ_2021.c\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
